@font-face {
  font-family: 'Beautiful Police Officer';
  src: url('./assets/fonts/BeautifulPoliceOfficer.ttf') format('truetype');
}

@font-face {
  font-family: 'Matrix Code NFI';
  src: url('../assets/fonts/MatrixCodeNfi-YPPj.otf') format('opentype');
}

@font-face {
  font-family: '3x5';
  src: url('../assets/fonts/3X5-6OYA.ttf') format('truetype');
}

.custom-font {
  font-family: 'Beautiful Police Officer', sans-serif;
}
html, body, #root {
  height: 100%;
  margin: 0;
 padding: 0;
}

.Background-Container {
  position: relative;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
}

.page-container {
  position: relative;
  z-index: 1; /* Ensures content is above the background */
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* full viewport height */
  padding-top: 100px; /* Adjust based on navbar height */
}
.content-wrap {
  flex: 1; /* pushes footer down */
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}


/* NOT USED ATM
.animated-background {
  background: linear-gradient(-45deg, #0D0208, #003B00, #008F11, #00FF41);
  background-size: 400% 400%;
  animation: gradientBG 6s ease infinite;
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

.content-wrap {
  flex: 1;
  padding-bottom: 300px; 
}
  */